body {
  text-transform: uppercase;
  border: 2px solid green; /* short hand */

  border-width: 5px;
  border-style: double;
  border-color: blueviolet;

  border: 4mm ridge rgba(211, 220, 50, 0.6);

  /* border-left: 2px solid; */
}

h1 {
  text-transform: lowercase;
  border: 2px solid green;
}
